#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 50px;
  padding: 0 10px;
  max-width: 600px;
}

.password-text {
  word-break: break-all;
  padding: 10px;
  text-align: left;
}

.password-copy {
  cursor: pointer;
}

.password-copy:hover {
  text-decoration: underline;
}

.options {
  width: 100%;
  margin: 2rem 0;
}

.options-password-length {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.5rem;
}

.options-password-length > :first-child {
  display: flex;
  justify-content: space-between;
}

.options ul {
  padding: 0;
}

.options li {
  text-align: left;
  list-style: none;
}

.history {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.history ul {
  padding: 0;
  list-style: none;
}

.history li {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 1rem;
  padding: 0.5rem;
  list-style: none;
}

.history-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.history-buttons > * {
  text-align: center;
}

.history li > :first-child {
  width: 100%;
  word-break: break-all;
  padding: 10px;
  text-align: left;
}

.history-date {
  color: gray;
  font-size: 0.8rem;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 2;
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-size: 1rem;
  max-width: 80%;
}
